name: Verify

on: [push, pull_request]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    name: Verify Gradle Build Backend
    needs:
      - build-frontend

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install npm dependencies
        run: npm ci
        working-directory: frontend
      - name: Build frontend
        run: npm run build
        working-directory: frontend

      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 22
      - name: Build with Gradle
        run: ./gradlew --build-cache test build
        working-directory: backend

  build-frontend:
    runs-on: ubuntu-latest
    name: Verify Npm Build Frontend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
        working-directory: frontend
      - name: Build static page
        run: npm run build
        working-directory: frontend

  build-docker:
    runs-on: ubuntu-latest
    name: Verify Docker Build

    steps:
      - uses: actions/checkout@v6
      - name: Build as Docker image
        run: docker build .
